<html>
<head>
<title><WEBPAGE method="getTitle"/></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" >
<link href="images/estiloWB3.css" rel="stylesheet" type="text/css" >
<style type="text/css">
<!--
.style1 {color: #4C8749}
-->
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >
<table width="741" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#4c8749" >
  <tr >
    <td width="742" ><RESOURCE NAME="Banner" TYPE="Banner" STYPE="FullBanner"/></td>
  </tr>
  <tr >
    <td valign="top" bgcolor="BFD1AF" ><table border="0" align="center" cellpadding="0" cellspacing="10" >
      <tr bgcolor="D2E1D2" >
        <td colspan="2" ><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#D2E1D2" >
          <tr >
            <td width="5" ><img src="images/interna_02.gif" width="5" height="5" alt="" ></td>
            <td ><img src="images/interna_03.gif" width="100%" height="5" alt="" ></td>
            <td width="5" ><img src="images/interna_04.gif" width="5" height="5" alt="" ></td>
          </tr>
          <tr >
            <td width="5" background="images/interna_05.gif" ><img src="images/interna_05.gif" width="5" height="5" alt="" ></td>
            <td ><font class="ruta"><topic method="getPath" separator=" | " />
              </font>
            <td width="5" background="images/interna_07.gif" ><img src="images/interna_07.gif" width="5" height="5" alt="" ></td>
          </tr>
          <tr >
            <td width="5" ><img src="images/interna_08.gif" width="5" height="5" alt="" ></td>
            <td ><img src="images/interna_09.gif" width="100%" height="5" alt="" ></td>
            <td width="5" ><img src="images/interna_10.gif" width="5" height="5" alt="" ></td>
          </tr>
        </table></td>
      </tr>
      <tr valign="top" >
        <td bgcolor="#BFD2B0" ><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" >
          <tr >
            <td width="5" ><img src="images/interna_02.gif" width="5" height="5" alt="" ></td>
            <td ><img src="images/interna_03.gif" width="100%" height="5" alt="" ></td>
            <td width="5" ><img src="images/interna_04.gif" width="5" height="5" alt="" ></td>
          </tr>
          <tr >
            <td width="5" background="images/interna_05.gif" ><img src="images/interna_05.gif" width="5" height="5" alt="" ></td>
            <td ><table width="490" height="450" border="0" cellpadding="5" cellspacing="0" >
              <td height="446" valign="top" ><p><font class="titulo">
                <TOPIC METHOD="getDisplayName" language="{user@getLanguage}"/>
              </font></p>
                            <p><font class="texto"><RESOURCE TYPE="Test"/>
                              <content/>
                            </font></p>
                <p>
                  <RESOURCE NAME="Imprimir" TYPE="Imprimir" STYPE="DemoPrint"/>
                  <RESOURCE NAME="Recomendar" TYPE="Recomendar" STYPE="DemoRecomend"/>
                </p></td>
              </tr>
            </table></td>
            <td width="5" background="images/interna_07.gif" ><img src="images/interna_07.gif" width="5" height="5" alt="" ></td>
          </tr>
          <tr >
            <td width="5" ><img src="images/interna_08.gif" width="5" height="5" alt="" ></td>
            <td ><img src="images/interna_09.gif" width="100%" height="5" alt="" ></td>
            <td width="5" ><img src="images/interna_10.gif" width="5" height="5" alt="" ></td>
          </tr>
        </table></td>
        <td ><table border="0" cellpadding="0" cellspacing="0" >
          <tr >
            <td ><img src="images/menu_20.gif" width="11" height="27" alt="" ></td>
            <td background="images/menu_21.gif" ><div align="center" class="menu_blanco">Men&uacute;</div></td>
            <td ><img src="images/menu_22.gif" width="31" height="27" alt="" ></td>
          </tr>
          <tr >
            <td background="images/menu_26.gif" ><img src="images/menu_26.gif" width="11" height="5" alt="" ></td>
            <td bgcolor="#C7E18F" ><RESOURCE NAME="Menu" TYPE="Menu" STYPE="interna"/></td>
            <td background="images/menu_28.gif" ><img src="images/menu_28.gif" width="31" height="5" alt="" ></td>
          </tr>
          <tr >
            <td ><img src="images/menu_29.gif" width="11" height="5" alt="" ></td>
            <td ><img src="images/menu_30.gif" width="167" height="5" alt="" ></td>
            <td ><img src="images/menu_31.gif" width="31" height="5" alt="" ></td>
          </tr>
        <tr >
            <td background="images/menu_32.gif" ><img src="images/menu_32.gif" width="11" height="37" alt="" ></td>
            <td bgcolor="#E3F2C3" ><table width="165" border="0" cellpadding="0" cellspacing="1" >
              <tr >
                <td width="164" ><font color="#E3F2C3">::</font><a href="{distpath}/demo/SiteMap" class="menu_verdelight" >Mapa de sitio </a></td>
              </tr>
<!--
              <tr >
                <td ><font color="#E3F2C3">:</font><RESOURCE NAME="Comentario" TYPE="Comentario" STYPE="Comentario"/></td>
              </tr>
-->
            </table>
            <td background="images/menu_35.gif" ><img src="images/menu_35.gif" width="31" height="37" alt="" ></td>
          </tr>
            <td ><img src="images/menu_36.gif" width="11" height="5" alt="" ></td>
            <td ><img src="images/menu_37.gif" width="167" height="5" alt="" ></td>
            <td ><img src="images/menu_38.gif" width="31" height="5" alt="" ></td>
          </tr>
          <tr >
            <td ><img src="images/menu_39.gif" width="11" height="10" alt="" ></td>
            <td ><img src="images/menu_40.gif" width="167" height="10" alt="" ></td>
            <td ><img src="images/menu_41.gif" width="31" height="10" alt="" ></td>
          </tr>
        </table>

          <form action="{distpath}/demo/search">
	<table border="0" cellpadding="0" cellspacing="0" >
          <tr >
            <td ><img src="images/menu_20.gif" width="11" height="27" alt="" ></td>
            <td background="images/menu_21.gif" ><div align="center" class="menu_blanco">Buscador</div></td>
            <td ><img src="images/menu_22.gif" width="31" height="27" alt="" ></td>
          </tr>
          <tr>
            <td background="images/menu_26.gif" ><img src="images/menu_26.gif" width="11" height="5" alt="" ></td>
            <td bgcolor="#C7E18F" align="center"><input type="text" size=20 name="q"></td>
            <td background="images/menu_28.gif" ><img src="images/menu_28.gif" width="31" height="5" alt="" ></td>
          </tr>

          <tr >
            <td ><img src="images/menu_39.gif" width="11" height="10" alt="" ></td>
            <td ><img src="images/menu_40.gif" width="167" height="10" alt="" ></td>
            <td ><img src="images/menu_41.gif" width="31" height="10" alt="" ></td>
          </tr>
        </table>
        </form>
        <center>
        User: <User method="getName"/>
        <BR><br>
        <RESOURCE NAME="Banner" TYPE="Banner" STYPE="Tematic"/>
        <BR><br>
        <RESOURCE NAME="Banner" TYPE="Banner" STYPE="HalfBanner"/>
        <BR><br>
        <RESOURCE NAME="StaticText" TYPE="StaticText" STYPE="Admin"/>
        </center>
        </td>
      </tr>
      <tr >
        <td bgcolor="D2E1D2" ><table width="100%" border="0" cellspacing="0" cellpadding="0" >
          <tr >
            <td width="5" ><img src="images/interna_02.gif" width="5" height="5" alt="" ></td>
            <td ><img src="images/interna_03.gif" width="100%" height="5" alt="" ></td>
            <td width="5" ><img src="images/interna_04.gif" width="5" height="5" alt="" ></td>
          </tr>
          <tr >
            <td width="5" background="images/interna_05.gif" ><img src="images/interna_05.gif" width="5" height="5" alt="" ></td>
            <td align="center" bgcolor="D2E1D2" ><span class="texto">Copyright 2006 </span><span class="menu_relacionados"><a href="#" class="menu_relacionados" >INFOTEC</a></span><span class="texto">. Todos los derechos reservados. Terminos y Pol&iacute;ticas del sitio</span></td>
            <td width="5" background="images/interna_07.gif" ><img src="images/interna_07.gif" width="5" height="5" alt="" ></td>
          </tr>
          <tr >
            <td width="5" ><img src="images/interna_08.gif" width="5" height="5" alt="" ></td>
            <td ><img src="images/interna_09.gif" width="100%" height="5" alt="" ></td>
            <td width="5" ><img src="images/interna_10.gif" width="5" height="5" alt="" ></td>
          </tr>
        </table></td>
        <td >&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>