@charset "utf-8";
/* CSS Document */
* {margin:0; padding:0; font-size:12px;}
a { color:#006600 }
a:hover { color: #00CC00}
a:active{ color: #00FF00}
body {background: #eee;	font-family:Arial, Helvetica, sans-serif;}
#general {text-align:center;}
.clear{clear:both; height:0px; padding:0px; margin:0px auto 0px auto; border:solid 0px #000000;}
#cabecera {
	border-bottom:solid 1px #999999;
	margin:0px auto 0px auto;
	padding:3px 0px 2px 10px;	
}
#cabecera h1{
	font-size:30px;
	color:#006600;
	text-align:left;
}
.salir a{
	margin:10px 20px 0px 0px;
	padding-left:10px;
	padding-right:13px;
	float:right;
	clear:both;
	font-size:16px;
	font-weight:bold;
	background: url(images/salir.gif) no-repeat right center;
	text-decoration:none;
}
.salir a:hover{
	background: url(images/salir2.gif) no-repeat right center;
}
.izq{ float:left}
.der { float:right}
#cuerpo {
	background: #FFFFFF;
	margin:0px auto 0px auto;
		font-size:12px;
}
#panel{
	border:solid 0px green;
	/*width:59%;*/
	width:400px;
	heigth:400px;
	float:left;
	border-right:1px solid #999999;
	background: #F9F9F9 url(images/fondo_panel.jpg) top left no-repeat;
	overflow:auto;
}
#panel table {
	border: outset 1px #666666;
	margin:1px auto 1px auto;
	width:95%;
	padding:0px;
	border-collapse:collapse;
}
#panel th{
	border-bottom:3px solid #339900;
	border-left:1px solid #999999;
	color:#FFFFFF;
	vertical-align:text-top;
	text-transform:capitalize;
	padding:3px 0px 3px 0px;
}
#panel th a{ color:#FFFFFF; text-decoration:none; display:block;}
#panel td{
	border-bottom:1px solid #666666;
	border-left:1px solid #666666;
	vertical-align: middle;
	background:#FFFFFF;
}
#panel em{
	font-style:normal;
	color: #666666;
	font-size:10px;
}
#filtros{
	border:solid 0px #666;
	margin:10px auto 0px auto;
	width:94.8%;
	text-align:left;
}
#filtros ul{ margin:5px 0px 10px 20px;}
#tareas{
	border-top:solid 1px #666;
	margin:10px auto 0px auto;
	width:94.8%;
	height:20px;
	padding-top:15px;	
}
#tareas a, #tareas p{font-size:15px; text-decoration:none; font-weight:bold; }
p.cerradas-si a{ padding-left:22px; background:url(images/icono_ojo_si.gif) no-repeat left center; font-weight: normal;}
p.cerradas-si a:hover, p.cerradas-si a hover{ padding-left:22px; background:url(images/icono_ojo_si2.gif) no-repeat left center;}
p.cerradas-no a{ padding-left:22px; background:url(images/icono_ojo_no.gif) no-repeat left center; color:#999999;}
p.cerradas-no a:hover, p.cerradas-no a hover{ padding-left:22px; background:url(images/icono_ojo_no2.gif) no-repeat left center; color:#666666;}
.orden-no {background: #333;}
.orden-no:hover, .orden-no hover{background: #666;}
.orden-baja{background: url(images/bullet_baja.gif) #333 no-repeat right center;}
.orden-baja:hover, .orden-baja hover{background: url(images/bullet_baja2.gif) #666 no-repeat right center;}
.orden-sube{background: url(images/bullet_sube.gif) #333 no-repeat right center;}
.orden-sube:hover, .orden-sube hover{background: url(images/bullet_sube2.gif) #666 no-repeat right center;}
.paginado{
	background:#FFFFFF;
	border:solid 1px #666666;
	margin:10px auto 0px auto;
	padding:6px 0px 6px 0px;
	width:94.8%;
	border-collapse:collapse;
}
.paginado a { padding:0px 11px 0px 11px; font-weight:bold;}
.paginado span { padding:5px; font-weight:bold; color: #999999}
.pag_ant { background: url(images/bullet_ant.gif) no-repeat left center;}
.pag_ant:hover{ background: url(images/bullet_ant2.gif) no-repeat left center;}
.pag_sig { background: url(images/bullet_sig.gif) no-repeat right center;}
.pag_sig:hover{ background: url(images/bullet_sig2.gif) no-repeat right center;}
#descarga{
	border:solid 0px #666666;
	margin:10px auto 0px auto;
	padding:0px;
	width:94.8%;
	text-align:right;
}
#descarga ul{ list-style:none; margin:0px 10px 0px 10px;}
#descarga li{ display:inline;}
#descarga a{ color: #666666; padding-left:19px; padding-right:15px; adding-right:15px; text-decoration:none; border: #f9f9f9 0px solid;}
#descarga a:hover {color: #000; border: #CCCCCC 0px solid;}
.xml { background: url(images/icono_xml.gif) left top no-repeat; padding:2px;}
.pdf { background: url(images/icono_pdf.gif) left top no-repeat; padding:2px;}
.rtf { background: url(images/icono_rtf.gif) left top no-repeat; padding:2px;}
.xml:hover { background: url(images/icono_xml2.gif) left top no-repeat; padding:2px;}
.pdf:hover{ background: url(images/icono_pdf2.gif) left top no-repeat; padding:2px;}
.rtf:hover{ background: url(images/icono_rtf2.gif) left top no-repeat; padding:2px;}
#content{
	border:solid 0px blue;
	text-align:left;
	width:40%;
	float:right;
}
h2, h3, h4{
	margin-bottom:7px;
}
h2{ font-size:18px}
h3{ font-size:16px}
h4{ font-size:14px}
#content ul{margin:0px 0px 5px 30px;}
#content li{margin:3px 0px 0px 0px;}
#tabs{
	border:solid 0px #CCCCCC;
	margin:20px auto 0px auto;
	padding:0px;
	width:94.8%;
	text-align:left;
}
#tabs ul{ list-style:none; margin-bottom:9px;}
#tabs li{
	display:inline;
	
	margin-left:0px;
	margin-right:5px;
}
#tabs a{
	font-size:15px;
	text-decoration:none;
	font-weight:bold;
}
.tab-on   { border: solid 1px #999; border-bottom: solid 1px #FFF; background:#FFF; padding:10px;}
.tab-on a {color:#333}
.tab-off  { border: solid 1px #CCC; border-bottom: solid 1px #999; background: #F9F9F9; padding:7px 10px 10px 10px;}
.tab-off a{color: #999}
.tab-off:hover, .tab-off hover{border: solid 1px #999; background:#FFF; padding:10px;}
.tab-off a:hover, .tab-off a hover {color: #666666}
#filtrado{display:block; }
#informe {display:none}
#plecas-padre{
	border:solid 1px #999999;
	margin:0px auto 20px auto;
	padding:10px 0px 5px 0px;
	width:94.8%;	
	background:#FFFFFF;	
}
.pleca{
	border:solid 0px #ccc;
	text-align:left;
	float:left;
}
.pleca h3 { display:none;}
.pleca label{
	border-bottom: solid 0px red; 
	display:block;
	width:90px; 
	text-align:right;
	float:left;
	margin:10px 5px 0px 0px;
	clear:both;
}
.pleca_txt {
	float:left;
	font-size:12px;
	padding:2px;
	width:70px;
	margin:5px 0px 0px 0px;
}
.pleca select{
	float:left;
	font-size:12px;
	padding:2px;
	width:140px;
	margin:5px 0px 0px 0px;
}
.pleca_boton{
	padding:3px;
	margin:10px 0px 10px 95px;
	font-weight:bold;
	font-size:12px;
	background: url(images/fondo_boton.jpg);
	border:#333333 1px outset;
	float:left;
	clear:both;
	width:140px;
}
.pleca_boton:hover{
	border: #006600 1px inset;
	background: url(images/fondo_boton2.jpg);
	color: #006600;
}
.display-no{ display:none}
.display-si{ display:block}
#pie{
	margin:0px auto 10px auto;
	border-top:solid 1px #999999;
}
