/* 
    Document   : swb
    Created on : 28/09/2008, 02:45:57 AM
    Author     : Jei
    Description:
        Purpose of the stylesheet follows.
*/

html, body, #main{	
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font: 10pt Arial,Myriad,Tahoma,Verdana,sans-serif;
}

.soria .dijitTreeIcon
{
	width:20px;
	height: 18px;
}

.swbLogo{
    width: 252px;
    height: 26px;
    padding: 0px 0px 0px 0px;
    background-image: url('../images/swb-logo.jpg');
    margin: expression('0px 0px -7px 0px'); /*IE*/
}

/*  20x18 */

.swbIconMnuView,
.swbIconMnuReload,
.swbIconMnuDelete,
.swbIconMnuAdd,
.swbIconMnuActive,
.swbIconMnuEdit,
.swbIconSystem,
.swbIconStrategy,
.swbIconContent,
.swbIconResources,
.swbIconResourceType,
.swbIconResource,
.swbIconResourceU,
.swbIconResourceE,
.swbIconResourceW,
.swbIconResourceF,
.swbIconResourceSubType,
.swbIconTemplateGroup,
.swbIconTemplates,
.swbIconTemplate,
.swbIconTemplateU,
.swbIconTemplateE,
.swbIconTemplateW,
.swbIconTemplateF,
.swbIconWebSites,
.swbIconWebSite,
.swbIconWebSiteU,
.swbIconUserRespositorys,
.swbIconUserRepository,
.swbIconHomePage,
.swbIconHomePageU,
.swbIconWebPage,
.swbIconWebPageU,
.swbIconWebPageE,
.swbIconWebPageW,
.swbIconWebPageF,
.swbIconWebPageV,
.swbIconCamps,
.swbIconCamp,
.swbIconCampU,
.swbIconPFlows,
.swbIconPFlow,
.swbIconPFlowU,
.swbIconLanguages,
.swbIconLanguage,
.swbIconCountrys,
.swbIconCountry,
.swbIconDevices,
.swbIconDevice,
.swbIconRules,
.swbIconRule,
.swbIconRuleU,
.swbIconRoles,
.swbIconRole,
.swbIconRoleU,
.swbIconDnss,
.swbIconDns,
.swbIconUser,
.swbIconUserU,
.swbIconUserGroups,
.swbIconUserGroup,
.swbIconObjectBehaviors,
.swbIconObjectBehavior,
.swbIconObjectBehaviorU,
.swbIconWorkspace,
.swbIconWorkspaceU,
.swbIconMenuItems,
.swbIconMenuItem,
.swbIconMenuItemU,
.swbIconReload,
.swbIconTrash,
.swbIconAdd,
.swbIconEdit,
.swbIconDelete,
.swbIconCalendars,
.swbIconCalendar,
.swbIconCalendarU,

.swbIconOntology,
.swbIconOntologyU,
.swbIconClass,
.swbIconProperty,

.swbIconProcess,
.swbIconProcessU,
.swbIconSubProcess,
.swbIconTask,
.swbIconStartEvent,
.swbIconEndEvent,
.swbIconIntermediateEvent,
.swbIconIntermediateCatchEvent,
.swbIconIntermediateThrowEvent,
.swbIconParallelGateway,
.swbIconInclusiveGateway,
.swbIconExclusiveGateway,
.swbIconGateway,
.swbIconPool,
.swbIconLane,
.swbIconArtifact
{
	background-repeat: no-repeat; 
	width:20px;
	height: 18px;
	text-align: center;
	padding-right:0px;
    background-image: url('../icons/icons20x18.png'); background-position: -620px -200px;
}

.swbIconSystem    { background-position: -200px -0px; }
.swbIconStrategy    { background-position: -240px -0px; }
.swbIconContent    { background-position: -260px -0px; }
.swbIconResources    { background-position: -340px -0px; }
.swbIconResource     { background-position: -340px -18px; }
.swbIconResourceU    { background-position: -340px -36px; }
.swbIconResourceF   { background-position: -120px -72px; }
.swbIconResourceW   { background-position: -140px -72px; }
.swbIconResourceE   { background-position: -160px -72px; }
.swbIconResourceType { background-position: -340px -0px; }
.swbIconTemplates   { background-position: -140px -0px; }
.swbIconTemplate    { background-position: -140px -18px; }
.swbIconTemplateU   { background-position: -140px -36px; }
.swbIconTemplateF   { background-position: -180px -72px; }
.swbIconTemplateW   { background-position: -200px -72px; }
.swbIconTemplateE   { background-position: -220px -72px; }
.swbIconWebSites    { background-position: -280px -0px; }
.swbIconWebSite     { background-position: -280px -18px; }
.swbIconWebSiteU    { background-position: -280px -36px; }
.swbIconHomePage    { background-position: -400px -18px; }
.swbIconHomePageU    { background-position: -400px -36px; }
.swbIconWebPage     { background-position: -420px -18px; }
.swbIconWebPageU    { background-position: -420px -36px; }
.swbIconWebPageF    { background-position: -0px -72px; }
.swbIconWebPageW    { background-position: -20px -72px; }
.swbIconWebPageE    { background-position: -40px -72px; }
.swbIconWebPageV    { background-position: -140px -199px; }
.swbIconDnss        { background-position: -80px -0px; }
.swbIconDns         { background-position: -80px -18px; }
.swbIconLanguages   { background-position: -20px -0px; }
.swbIconLanguage    { background-position: -20px -18px; }
.swbIconCountrys   { background-position: -440px -0px; }
.swbIconCountry    { background-position: -440px -18px; }
.swbIconRoles       { background-position: -40px -0px; }
.swbIconRole        { background-position: -40px -18px; }
.swbIconUser        { background-position: -0px -18px; }
.swbIconUserU       { background-position: -0px -36px; }
.swbIconUserGroups  { background-position: -320px -0px; }
.swbIconUserGroup   { background-position: -320px -18px; }
.swbIconWorkspace   { background-position: -360px -18px; }
.swbIconUserRepository   { background-position: -0px -0px; }
.swbIconCamps       { background-position: -160px -0px; }
.swbIconCamp        { background-position: -160px -18px; }
.swbIconCampU       { background-position: -160px -36px; }
.swbIconRules       { background-position: -60px -0px; }
.swbIconRule        { background-position: -260px -18px; }
.swbIconRuleU       { background-position: -260px -36px; }
.swbIconDevices     { background-position: -100px -0px; }
.swbIconDevice      { background-position: -100px -18px; }
.swbIconPFlows      { background-position: -120px -0px; }
.swbIconPFlow       { background-position: -120px -18px; }
.swbIconPFlowU      { background-position: -120px -36px; }
.swbIconTrash       { background-position: -440px -200px; }
.swbIconReload      { background-position: -520px -200px; }
.swbIconDelete      { background-position: -103px -200px; }
.swbIconAdd         { background-position: -242px -200px; }
.swbIconEdit        { background-position: -3px -145px; }
.swbIconCalendars   { background-position: -220px -0px; }
.swbIconCalendar    { background-position: -220px -18px; }
.swbIconCalendarU   { background-position: -220px -36px; }

.swbIconOntology       { background-position: -380px -18px; }
.swbIconOntologyU      { background-position: -380px -36px; }
.swbIconClass       { background-position: -60px -90px; }
.swbIconProperty       { background-position: -240px -90px; }

.swbIconProcess   { background-position: -540px -145px; }
.swbIconProcessU   { background-position: -540px -145px; }
.swbIconSubProcess   { background-position: -540px -145px; }
.swbIconTask   { background-position: -560px -145px; }
.swbIconInclusiveGateway   { background-position: -400px -145px; }
.swbIconParallelGateway   { background-position: -420px -145px; }
.swbIconStartEvent   { background-position: -480px -145px; }
.swbIconIntermediateEvent   { background-position: -500px -145px; }
.swbIconIntermediateCatchEvent  { background-position: -500px -145px; }
.swbIconIntermediateThrowEvent  { background-position: -500px -145px; }
.swbIconEndEvent   { background-position: -520px -145px; }
.swbIconPool   { background-position: -560px -145px; }
.swbIconLane   { background-position: -560px -145px; }
.swbIconArtifact   { background-position: -560px -145px; }

.admViewProperties table{ padding:0px; margin:-10px; width:100%; }
.admViewProperties div div div{ padding:0px; margin:0px; width:100%; }

caption {
	background:#fafafa url(../js/dojo/dijit/themes/soria/images/titleBar.png) repeat-x top left;
	border-top: 1px solid #b9bbdd;
	padding: 5px 5px 6px 8px;
    font-weight: bold;
}

th {
	background-color: #4f8ce5; 
	color: #666; 
	font-weight: bold;
	margin:0;
	padding:1px 5px;
	background-image:url('../js/dojo/dijit/themes/soria/images/titleBar.png');
	background-position:0px -1px; 
}

.swbform legend {
	padding: 0 2px;
	font-weight: bold;
    padding-left: 0;
    _margin: 0 -7px; /*IE Win*/
	}

_.swbform div {
    display: inline-block;
    }

_.swbform div label {
    display: block;
    width: 6em;
    float: left;
    }

.swbform label_ {
	display: inline-block;
	line-height: 1.8;
	_vertical-align: top;
    text-align: right;
    width: 25%;
    }
	
.swbform fieldset ol{
	margin: 0;
	padding: 0;
	}

_form.swbform fieldset li p{
	margin: 3px 5px;
	padding: 0;
    width: 70%;
    position: absolute ;
	}

_form.swbform fieldset li span{
	margin: 3px 5px;
	padding: 0;
    _width: 70%;
    _position: absolute ;
	}

_form.swbform fieldset li {
	list-style: none;
	padding: 2px;
	margin: 0;
	_padding: 5px 10px 7px;
	background: url(../images/swbform-divider.gif) left bottom repeat-x;
	}
	
.swbform fieldset fieldset {
	border: none;
    padding: 0px 25px 0px 0px;
    background: none;
	}
	
.swbform fieldset fieldset legend {
    width: 25%;
    text-align: right;
	font-weight: normal;
	}
	
.swbform fieldset fieldset label {
	display: block;
	width: auto;
    margin-left: 26%;
    text-align: left;
    padding: 0px;
	}

.swbform fieldset span label {
    width: auto;
    padding: 0px 10px 0px 0px;  /*horizontal*/
	_display: block;            /* vertical */
    _margin-left: 25.5%;        /* vertical */
    _text-align: left;          /* vertical */
	}

.swbform em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
	}

.swbform {
	_width: 100%;
	font-size: 1.1em;
	color: #333;
    font: normal 100% "Lucida Grande", Helvetica, Verdana, Arial;
    background: url(../images/swbform-fieldset.png) left bottom repeat-x;
	}

.swbform legend,
.swbform label { color: #333; }

.swbform fieldset {
    _width: 400px;
    padding: 5px;
	border-top: 1px solid #a0a0ff;
	border-left: 1px solid #a0a0ff;
	border-bottom: 1px solid #a0a0ff;
	border-right: 1px solid #a0a0ff;
	_background: url(../images/swbform-fieldset.png) left bottom repeat-x;
    _background: url('../js/dojo/dijit/themes/soria/images/titleBar.png') left bottom repeat-x;
	}


#swblogout {
    padding:5px;
    position:absolute;
    right:0px;
    font-weight:bold;
    z-index:auto;
}

.applet{
    visibility:visible;
    z-index:10000
}

.dijitContentPaneLoading {
	_background:url(../js/dojo/dijit/themes/tundra/images/loading.gif) no-repeat left center;
    background:url(../icons/loading.gif) no-repeat left center;
	padding-left:25px;
}

.dijitContentPaneError {
	background:url(../js/dojo/dijit/themes/tundra/images/warning.png) no-repeat left center;
	padding-left:25px;
}

.dijitTreeExpandoLoading {
	background-image: url(../js/dojo/dijit/themes/tundra/images/treeExpand_loading.gif);
}

.swbError {
	color: #FF5050;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}



/************* Version 3 ****************/

.selected {
	color: #114982;
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
}
.titulo {
	color: #428AD4;
	text-decoration: none;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
}
.status {
	color: #666666;
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
}
.datos {
	color: #333333;
	text-decoration: none;
        text-align: right;
	font-family: Verdana;
	font-size: 12px;
}
.valores {
	color: #000000;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
}
.enfasis {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: 100;
}
.requerido {
    color: red;
}
.indice {
	color: #428AD4;
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
}

/*------------------- select tree  ----*/
div.sitesectiontree a.treeres:link {
	text-decoration:none;
	font-weight: normal;
	cursor: pointer;	
}
div.sitesectiontree a.treeres:visited {
	text-decoration:none;
	font-weight: normal;
	cursor: pointer;	
}
div.sitesectiontree a.treeres:hover {
	text-decoration: underline;
	cursor: pointer;
}

div.sitesectiontree span {
	cursor: pointer;
}

div.sitesectiontree ul.treeres {
	list-style-type: none;
	padding-left: 10px;
	padding-right:1px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/*------------------- select tree  ----*/


