/* 
    Document   : swb
    Created on : 28/09/2008, 02:45:57 AM
    Author     : Jei
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}



html, body, #main{	
	width: 100%;	
	height: 100%;
	overflow: hidden;	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font: 10pt Arial,Myriad,Tahoma,Verdana,sans-serif;
}

body .dojoSplitPane {
	background: #ededff;
	overflow: auto;
}

.swbIconPortlets,
.swbIconPortletType,
.swbIconPortlet,
.swbIconPortletU,
.swbIconTemplateGroup,
.swbIconTemplates,
.swbIconTemplate,
.swbIconTemplateU,
.swbIconWebSite,
.swbIconWebSiteU,
.swbIconWebPage,
.swbIconWebPageU,
.swbIconCamps,
.swbIconCamp,
.swbIconCampU,
.swbIconPFlows,
.swbIconPFlow,
.swbIconPFlowU,
.swbIconLanguages,
.swbIconLanguage,
.swbIconDevices,
.swbIconDevice,
.swbIconRules,
.swbIconRule,
.swbIconRuleU,
.swbIconRoles,
.swbIconRole,
.swbIconRoleU,
.swbIconDnss,
.swbIconDns
{
	background-repeat: no-repeat; 
	width:16px;
	height: 16px;
	text-align: center;
	padding-right:0px;
    background-image: url('../icons/icons16x16.png'); background-position: -352px -0px;
}

.swbIconPortlets { background-image: url('../icons/icons16x16.png'); background-position: -224px -0px; }
.swbIconPortletType { background-image: url('../icons/icons16x16.png'); background-position: -48px -0px; }
.swbIconPortlet { background-image: url('../icons/icons16x16.png'); background-position: -352px -0px; }
.swbIconPortletU { background-image: url('../icons/icons16x16.png'); background-position: -352px -16px; }
.swbIconTemplates { background-image: url('../icons/icons16x16.png'); background-position: -352px -0px; }
.swbIconTemplate { background-image: url('../icons/icons16x16.png'); background-position: -256px -0px; }
.swbIconTemplateU { background-image: url('../icons/icons16x16.png'); background-position: -256px -16px; }
.swbIconWebSite { background-image: url('../icons/icons16x16.png'); background-position: -32px -0px; }
.swbIconWebSiteU { background-image: url('../icons/icons16x16.png'); background-position: -32px -16px; }
.swbIconWebPage { background-image: url('../icons/icons16x16.png'); background-position: -352px -0px; }
.swbIconWebPageU { background-image: url('../icons/icons16x16.png'); background-position: -352px -16px; }
.swbIconDnss { background-image: url('../icons/icons16x16.png'); background-position: -352px -0px; }
.swbIconDns { background-image: url('../icons/icons16x16.png'); background-position: -192px -0px; }
.swbIconLanguage { background-image: url('../icons/icons16x16.png'); background-position: -80px -0px; }

.admViewProperties { width:100%; }

caption {
	background:#fafafa url(../js/dojo/dijit/themes/soria/images/titleBar.png) repeat-x top left;
	border-top: 1px solid #b9bbdd;
	padding: 5px 5px 6px 8px;
    font-weight: bold;
}

th {
	background-color: #4f8ce5; 
	color: #666; 
	font-weight: bold;
	margin:0;
	padding:1px 5px; 
	background-image:url('../js/dojo/dijit/themes/soria/images/titleBar.png');
	background-position:0px -1px; 
}


form.swbform legend {
	padding: 0 2px;
	font-weight: bold;
    padding-left: 0;
    _margin: 0 -7px; /* IE Win */
	}
	
form.swbform label {
	display: inline-block;
	line-height: 1.8;
	_vertical-align: top;
    text-align: right;
    width: 25%;
    }
	
form.swbform fieldset ol{
	margin: 0;
	padding: 0;
	}

_form.swbform fieldset li p{
	margin: 3px 5px;
	padding: 0;
    width: 70%;
    position: absolute ;
	}

_form.swbform fieldset li span{
	margin: 3px 5px;
	padding: 0;
    _width: 70%;
    _position: absolute ;
	}

_form.swbform fieldset li {
	list-style: none;
	padding: 2px;
	margin: 0;
	_padding: 5px 10px 7px;
	background: url(../images/swbform-divider.gif) left bottom repeat-x;
	}
	
form.swbform fieldset fieldset {
	border: none;
    padding: 0px 25px 0px 0px;
    background: none;
	}
	
form.swbform fieldset fieldset legend {
    width: 25%;
    text-align: right;
	font-weight: normal;
	}
	
form.swbform fieldset fieldset label {
	display: block;
	width: auto;
    margin-left: 26%;
    text-align: left;
    padding: 0px;
	}

form.swbform fieldset span label {
	width: auto;
    padding: 0px 10px 0px 0px;  /*horizontal*/
	_display: block;            /* vertical */
    _margin-left: 25.5%;        /* vertical */
    _text-align: left;          /* vertical */
	}

form.swbform em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
	}

form.swbform {
	_width: 100%;
	font-size: 1.1em;
	color: #333;
    font: normal 100% "Lucida Grande", Helvetica, Verdana, Arial;
	}
	
form.swbform legend,
form.swbform label { color: #333; }

form.swbform fieldset {
    _width: 400px;
    padding: 5px;
	border-top: 1px solid #a0a0ff;
	border-left: 1px solid #a0a0ff;
	border-bottom: 1px solid #a0a0ff;
	border-right: 1px solid #a0a0ff;
	background: url(../images/swbform-fieldset.png) left bottom repeat-x;
    _background: url('../js/dojo/dijit/themes/soria/images/titleBar.png') left bottom repeat-x;
	}
	