/* 
    Document   : swb_portal
    Created on : 3/12/2008, 09:18:39 PM
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/* Gallery Styles */
#motioncontainer {
/*margin:0 auto;  Uncomment this line if you wish to center the gallery on page */
width: 550px; /* Set to gallery width, in px or percentage */
height: 130px; /* Set to gallery height */
}
#motioncontainer a img {
border: 1px solid #cccccc; /* Set image border color */
}
#motioncontainer a:hover img {
border: 1px solid navy; /* Set image border hover color */
}
#statusdiv {
background-color: #ffff99;
border: 1px solid gray;
padding: 2px;
position: absolute; /* Stop Editing Gallery Styles */
left: 300px;
visibility: visible;
}
#motioncontainer a:hover {
color: #ff0000; /* Dummy definition to overcome IE bug */
}
/* End Gallery Styles */


/* CSS Document */

body {
	font-size: 100.1%;
}

/*------------------- Menu ---------*/

#swb-menu {
	width: 11.23em;
	border:#336699 solid 0.06em;
	font-family:Arial;
	font-size:1em;
}
#swb-menu h1{
	background-color: #336699;
	margin: 0 0 0.63em 0;
	padding: 0;
	line-height:1.56em;
	font-size:0.88em;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: capitalize;
}
#swb-menu h1 a:link{
	color: #FFFFFF;
	text-decoration:none;
}
#swb-menu h1 a:visited{
	color: #FFFFFF;
	text-decoration:none;
}
#swb-menu h1 a:hover{
	color: #FFFFFF;
	text-decoration:none;
}
#swb-menu h1 a:active{
	color: #FFFFFF;
	text-decoration:none;
}
#swb-menu ul{
	margin: 0;
	padding: 0.31em;
	font-size: 0.75em;
	list-style:none;
	list-style-position:inside;
}
#swb-menu li {
	padding: 0.31em 0.31em 0.31em 0.31em;
}
#swb-menu li a:link{
	color: #336699;
	text-decoration:none;
}
#swb-menu li a:visited{
	color: #336699;
	text-decoration:none;
}
#swb-menu li a:hover{
	color: #99ccff;
	text-decoration:none;
}
#swb-menu li a:active{
	color: #FFFFFF;
	text-decoration:none;
}
#swb-menu span {
	color:#990000;
}
/*------------------- Menu ---------*/
/*------------------- Encuesta  ----*/

#swb-encuesta {
	width: 11.23em;
	border:#336699 solid .06em;
	font-family:Arial;
	font-size:1em;
}
#swb-encuesta h1{
	background-color: #336699;
	margin: 0 0 0.63em 0;
	padding: 0;
	line-height:1.56em;
	font-size:0.88em;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: capitalize;
}
#swb-encuesta label{
	/* margin-top:.63;  Activar para */
	/* display: block;   espaciar opciones*/
	padding-left:1.25em;
	font-size: 0.75em;
	color:#336699;
}
.swb-encuesta-boton {
	/* class en codigo para funcionar en IE y FFox*/
	background-color:#336699;
	color:#FFFFFF;
	margin: 0.3em 1.25em 0.3em 1.25em;
	font-size:.75em;
}
#swb-encuesta p{
	line-height:0em;
	text-align:center;
	font-size: 0.75em;
}
#swb-encuesta a{
	text-decoration:none;
	color:#336699;
}

/*------------------- Encuesta  ----*/
/*------------------- Recomendar  ----*/
#swb-recomendar {
	width: 21.33em;
	border:#336699 solid .05em;
	font-family:Arial;
	font-size:1em;
}
#swb-recomendar h1{
	background-color: #336699;
	margin: 0 0 0.63em 0;
	padding: 0;
	line-height:1.56em;
	font-size:0.88em;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: capitalize;
}
#swb-recomendar fieldset{
    background-color: #336699;
	margin-left:1em;
	margin-right:1em;
	margin-bottom:1em;	
	border:#336699 solid 0.06em;
}
#swb-recomendar legend{
    background-color: #6699cc;
	padding: .3em .6em .3em .6em;
	margin-left:2em;
	margin-bottom:0.5em;
	font-size:.75em;
	font-weight:bold;
	color: #FFFFFF;
	border:#336699 solid 0.06em;
}
#swb-recomendar table{
	padding: .6em .6em .6em .6em;
	margin-left:1.25em;
}
#swb-recomendar td{
	vertical-align: top;
}
#swb-recomendar label{
	font-size: 0.75em;
	color:#336699;
	float:right;
}
.swb-recomendar-text {
	/* class en c贸digo para funcionar en IE y FFox*/
	color:#336699;
	width:15em;
	float:left;
}
#swb-recomendar textarea{
	width:16.7em;
	height:4.7em;
	color:#336699;
	font-family:Arial;
	font-size:0.75em;
	float:left;
}
.swb-recomendar-boton {
	/* class en c贸digo para funcionar en IE y FFox*/
	background-color: #336699;
	width:auto;
	color:#FFFFFF;
	margin: .3em 1.25em .3em 1.25em;
	font-size:.75em;
}
#swb-recomendar p {
	text-align:center;
	font-size:.75em;
}
#swb-recomendar a {
	color:#336699;
}
/*------------------- Recomendar  ----*/
/*------------------- Comentarios  ----*/
#swb-comentar {
	width: 21.33em;
	border:#336699 solid .05em;
	font-family:Arial;
	font-size:1em;
}
#swb-comentar h1{
	background-color: #336699;
	margin: 0 0 0.63em 0;
	padding: 0;
	line-height:1.56em;
	font-size:0.88em;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: capitalize;
}
#swb-comentar h2{
	font-size:0.8em;
	font-weight: bold;
	color: #336699;
	text-align: center;
}
#swb-comentar table{
	padding: .6em .6em .6em .6em;
	margin-left:1.25em;
	font-size:.75em;
	color:#336699;
}
#swb-comentar td{
	vertical-align: top;
}
#swb-comentar label{
	font-size: 0.75em;
	color:#336699;
	float:right;
}
#swb-comentar select{
	height:1.6em;
	font-size: 0.8em;
	color:#336699;
	float:left;
}
.swb-comentar-text {
	/* class en c贸digo para funcionar en IE y FFox*/
	color:#336699;
	width:15em;
	float:left;
}
#swb-comentar textarea{
	width:16.7em;
	height:4.7em;
	color:#336699;
	font-family:Arial;
	font-size:0.75em;
	float:left;
}
.swb-comentar-boton {
	/* class en c贸digo para funcionar en IE y FFox*/
	background-color: #336699;
	width:auto;
	color:#FFFFFF;
	margin: .3em 1.25em .3em 1.25em;
	font-size:.75em;
}
#swb-comentar p {
	text-align:center;
	font-size:.75em;
	color:#336699;
}
#swb-comentar a {
	color:#336699;
}
#swb-comentar fieldset{
    background-color: #d6e7f8;
	margin:1em 1em 1em 1em;
	padding-bottom:.6em;
	/*background: #d6e7f8 url(bg_fieldset.jpg) top repeat-x;*/
	border:#336699 solid 0.06em;
}
#swb-comentar legend{
    background-color: #6699cc;
	padding: .3em .6em .3em .6em;
	margin-left:2em;
	margin-bottom:0.5em;
	font-size:.75em;
	font-weight:bold;
	color: #FFFFFF;
	border:#336699 solid 0.06em;
}
/*------------------- Comentarios  ----*/
/*------------------- PROMO        ----*/
#swb-promo {
	width: 21.3em;
	min-height: 12em;
	border: #336699 solid .06em;
	padding: .6em .6em .6em .6em;
}
#swb-promo h1{
	font-family:Arial;
	font-size: 1em;
	font-weight: bold;
	color: #336699;
	text-align:center;
	margin: 0;
	padding:0;
}
#swb-promo h2{
	font-family:Arial;
	font-size: .75em;
	font-weight: bold;
	color: #336699;
	text-align:center;
}
#swb-promo img{
	width: 120px;
	height: 100px;
	border: #999999 solid 1px;
	margin: .3em .3em 0em .3em;
	display:block;
	float: left;
}
#swb-promo h6{
    background-color: #999999;
	width:120px;
	border:#999999 solid 1px;
	font-family:Arial;
	font-size: .6em;
	font-weight: bold;
	text-align:center;
	color: #FFFFFF;
	float: left;
	clear:left;
	margin: 0em .3em 1em .5em;
}
#swb-promo p{
	font-family:Arial;
	font-size: .75em;
	color: #336699;
	text-align:justify;
}
#swb-promo ul {
	padding: 0;
	margin: 0;
	font-family:Arial;
	font-size: 0.75em;
	margin-left: 13em;
}
#swb-promo li{
	list-style:url(bullet-mas1.gif);
	color:#336699;
}
#swb-promo li a:link{
	list-style:url(bullet-mas1.gif);
	color:#336699;
}
#swb-promo li a:visited{
	list-style:url(bullet-mas1.gif);
	color: #336699;
}
#swb-promo li a:hover{
	list-style:url(bullet-mas2.gif);
	color: #99ccff;
}
#swb-promo li a:active{
	list-style:url(bullet-mas3.gif);
	color:#FFFFFF;
}

/*------------------- PROMO        ----*/
/*------------------- QUERY        ----*/
#swb-query {
	border: #336699 solid .06em;
	padding: .2em .2em .2em .2em;
	font-family:Arial;
}
#swb-query table {
	width:100%;
	border: #336699 solid .06em;
	border-collapse:collapse;
	text-align:center;
	font-size: 1em;
}
#swb-query caption {
	background-color: #336699;
	margin: 0 0 0 0;
	padding: 0;
	line-height:1.56em;
	font-size:0.88em;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;
}
#swb-query thead {
	font-size: .75em;
}
#swb-query tbody {
}
#swb-query tfoot td {
    background-color: #6699cc;
	font-size: .6em;
	color:#FFFFFF;
}
#swb-query th {
    background-color: #cce6ff;
	color: #336699;
	border-bottom: #336699 solid .06em;
	padding:5px;
}
#swb-query span {
    background-color: #ff0000;
}
#swb-query td {
    background-color: #eff6ff;
	border-bottom: #CEDAE6 solid .06em;
	font-size: .75em;
	padding:5px;
}
/*------------------- QUERY        ----*/


/*------------------- Mapa de sitio ---*/
.swb-mapa {
	border:#336699 solid 1px;
	font-family:Arial;
	font-size: 12px;
}
.swb-mapa h1{
	background-color: #336699;
	margin: 0 0 0.63em 0;
	padding: 0;
	font-size: 1em;
	font-family:Arial;
	text-transform:capitalize;
	text-align:center;
	color: #FFFFFF;
}

.swb-mapa li, .swb-mapa li a{
	list-style:none;
	text-decoration:none;
	/*display:block;*/
    cursor: pointer;
}
.swb-mapa li a:hover{
	color: #3399CC;
    cursor: pointer;
}

/* para cada nivel */
.swb-mapa li:hover{ /* en IE se deforma
	background: #EFF2FF;
	border-bottom:#CCC dotted 1px; */
}
.swb-mapa ul li a {
	line-height: 20px;
	color:#336699;
	font-weight:bold;
    cursor: pointer;
}
/*.swb-mapa ul ul li a {
	line-height: 20px;
	color:#336699;
	font-weight:normal;
}
.swb-mapa ul ul ul li a {
	line-height: 20px;
	color: #666666;
	font-weight:normal;
}
.swb-mapa ul ul ul ul li a {
	line-height: 20px;
	color:#666666;
	font-weight:normal;
}*/

/* estilos para los "+" y "-"  */
.sinicomap{
	width:8px;
	height:8px;
	margin:5px 3px 0px 0px;
	float:left;
}
.icomap {
    background-color: #eeeeee;
	width:8px;
	height:8px;
	margin:5px 3px 0px 0px;
	float:left;
	border:#CCCCCC solid 1px;
	cursor:pointer;
	text-align:center;
}
.icomap hover{
    background-color: #009900;
	width:8px;
	height:8px;
	margin:5px 3px 0px 0px;
	float:left;
	border:#CCCCCC solid 1px;
	cursor:pointer;
}
.icomap span {
	color: #999;
	line-height: 8px;
}
.icomap span:hover {
    background-color: #99ccff;
	color: #0000FF;
	line-height: 8px;
	display: block;
}
/* estilos para los "+" y "-"  */
/*------------------- Mapa de sitio ---*/




/*------------------- select tree  ----*/
div.sitesectiontree a.treeres:link {
	text-decoration:none;
	font-weight: normal;
	cursor: pointer;
}
div.sitesectiontree a.treeres:visited {
	text-decoration:none;
	font-weight: normal;
	cursor: pointer;
}
div.sitesectiontree a.treeres:hover {
	text-decoration: underline;
	cursor: pointer;
}
div.sitesectiontree a.treeres:active {
	text-decoration: underline;
	cursor: pointer;
}

div.sitesectiontree span {
	cursor: pointer;
}

div.sitesectiontree ul.treeres {
	list-style-type: none;
	padding-left: 10px;
	padding-right:1px;
	margin-left:8px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/*------------------- select tree  ----*/
