/* 
    Document   : swb_portal
    Created on : 3/12/2008, 09:18:39 PM
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/* Gallery Styles */
#motioncontainer {
/*margin:0 auto;  Uncomment this line if you wish to center the gallery on page */
width: 550px; /* Set to gallery width, in px or percentage */
height: 130px; /* Set to gallery height */
}
#motioncontainer a img {
border: 1px solid #cccccc; /* Set image border color */
}
#motioncontainer a:hover img {
border: 1px solid navy; /* Set image border hover color */
}
#statusdiv {
background-color: lightyellow;
border: 1px solid gray;
padding: 2px;
position: absolute; /* Stop Editing Gallery Styles */
left: 300px;
visibility: visible;
}
#motioncontainer a:hover {
color: red; /* Dummy definition to overcome IE bug */
}
/* End Gallery Styles */


/* CSS Document */

body {
	font-size: 100.1%;
}

/*------------------- Menu ---------*/

#swb-menu {
	width: 11.23em;
	border:#336699 solid 0.06em;
	font-family:Arial;
	font-size:1em;
}
#swb-menu h1{
	background: url(bg_titulos.gif) #336699 repeat-x;
	margin: 0 0 0.63em 0;
	padding: 0;
	line-height:1.56em;
	font-size:0.88em;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: capitalize;
}
#swb-menu h1 a:link{
	color: #FFFFFF;
	text-decoration:none;
}
#swb-menu h1 a:visited{
	color: #FFFFFF;
	text-decoration:none;
}
#swb-menu h1 a:hover{
	color: #FFFFFF;
	text-decoration:none;
}
#swb-menu h1 a:active{
	color: #FFFFFF;
	text-decoration:none;
}
#swb-menu ul{
	margin: 0;
	padding: 0.31em;
	font-size: 0.75em;
	list-style:none;
	list-style-position:inside;
}
#swb-menu li {
	padding: 0.31em 0.31em 0.31em 0.31em;
}
#swb-menu li a:link{
	color: #336699;
	text-decoration:none;
}
#swb-menu li a:visited{
	color: #336699;
	text-decoration:none;
}
#swb-menu li a:hover{
	color: #99ccff;
	text-decoration:none;
}
#swb-menu li a:active{
	color: #FFFFFF;
	text-decoration:none;
}

/*------------------- Menu ---------*/
/*------------------- Encuesta  ----*/

#swb-encuesta {
	width: 11.23em;
	border:#336699 solid .06em;
	font-family:Arial;
	font-size:1em;
}
#swb-encuesta h1{
	background: url(bg_titulos.gif) #336699 repeat-x;
	margin: 0 0 0.63em 0;
	padding: 0;
	line-height:1.56em;
	font-size:0.88em;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: capitalize;
}
#swb-encuesta label{
	/* margin-top:.63;  Activar para */
	/* display: block;   espaciar opciones*/
	padding-left:1.25em;
	font-size: 0.75em;
	color:#336699;
}
.swb-encuesta-boton {
	/* class en codigo para funcionar en IE y FFox*/
	background-color:#336699;
	color:#FFFFFF;
	margin: 0.3em 1.25em 0.3em 1.25em;
	font-size:.75em;
}
#swb-encuesta p{
	line-height:0em;
	text-align:center;
	font-size: 0.75em;
}
#swb-encuesta a{
	text-decoration:none;
	color:#336699;
}

/*------------------- Encuesta  ----*/
/*------------------- Recomendar  ----*/
#swb-recomendar {
	width: 21.33em;
	border:#336699 solid .05em;
	font-family:Arial;
	font-size:1em;
}
#swb-recomendar h1{
	background: url(bg_titulos.gif) #336699 repeat-x;
	margin: 0 0 0.63em 0;
	padding: 0;
	line-height:1.56em;
	font-size:0.88em;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: capitalize;
}
#swb-recomendar fieldset{
	margin-left:1em;
	margin-right:1em;
	margin-bottom:1em;
	background: #d6e7f8 url(bg_fieldset.jpg) top repeat-x;
	border:#336699 solid 0.06em;
}
#swb-recomendar legend{
	padding: .3em .6em .3em .6em;
	margin-left:2em;
	margin-bottom:0.5em;
	font-size:.75em;
	font-weight:bold;
	color: #FFFFFF;
	border:#336699 solid 0.06em;
	background: #6699cc;
}
#swb-recomendar table{
	padding: .6em .6em .6em .6em;
	margin-left:1.25em;
}
#swb-recomendar td{
	vertical-align: top;
	text-align:right;
}
#swb-recomendar label{
	font-size: 0.75em;
	color:#336699;
}
.swb-recomendar-text {
	/* class en código para funcionar en IE y FFox*/
	color:#336699;
	width:15em;
}
#swb-recomendar textarea{
	width:16.7em;
	height:4.7em;
	color:#336699;
	font-family:Arial;
	font-size:0.75em;
}
.swb-recomendar-boton {
	/* class en código para funcionar en IE y FFox*/
	background:#336699;
	width:auto;
	color:#FFFFFF;
	margin: .3em 1.25em .3em 1.25em;
	font-size:.75em;
}
#swb-recomendar p {
	text-align:center;
	font-size:.75em;
}
#swb-recomendar a {
	color:#336699;
}


/*------------------- Recomend  ----*/

