<template method="setHeaders" Content-Type="text/html"  Cache-Control="no-cache" Pragma="no-cache"  response="{response}" /><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<HEAD>
<TITLE></TITLE>
<!--META http-equiv="Content-Type" content="text/html; charset=iso-8859-1"-->
<LINK REL="SHORTCUT ICON" HREF="{webpath}wbadmin/images/wb.ico">
<LINK href="images/wb3.css" rel="stylesheet" type="text/css">
<script language="javascript">
    function wbTree_executeAction(action)
    {
        if(top.tree!=null)top.tree.document.applets[0].executeAction(action);
    }

    function wbTree_remove()
    {
        wbTree_executeAction('remove');
    }

    function wbTree_reload()
    {
        wbTree_executeAction('reload');
    }

    function wbStatus(msg)
    {
	top.frames[4].location='<distpath/>/WBAdmin/WBAd_int_Status?stmsg='+msg;
	//document.write(top.frames['status'].name);
    }

    wbStatus('');
</script>
</HEAD>

<BODY bgcolor="#EDEFEC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table border="0" cellspacing="0" height="100%" cellpadding="0" width="100%">
      <tr>
        <td height="50"><resource type="WBATools" name="frame"></resource></td>
      </tr>
      <tr>
        <td>
          <table border="0" cellspacing="0" height="100%" cellpadding="0" width="100%">
            <tr>
              <td background="{webpath}wbadmin/images/izq.gif" width="3">
              </td>
              <td bgcolor="#FFFFFF">
                <resource type="WBATabs" name="tabs"></resource>
              </td>
              <td background="{webpath}wbadmin/images/der.gif" width="3">
              </td>
            </tr>
            <tr>
              <td background="{webpath}wbadmin/images/izq.gif" width="3">
              </td>
              <td valign="top" align="center" bgcolor="#FFFFFF">
	     <resource name="comment" type="WBATopicDispComm"/>
              </td>
              <td background="{webpath}wbadmin/images/der.gif" width="3">
              </td>
            </tr>
            <tr height="100%">
              <td background="{webpath}wbadmin/images/izq.gif" width="3">
              </td>
              <td valign="top" align="center" bgcolor="#FFFFFF">
                <content/>
              </td>
              <td background="{webpath}wbadmin/images/der.gif" width="3">
              </td>
            </tr>
            <tr>
              <td width="3" height="1"><img src="{webpath}wbadmin/images/izq.gif" height="1" width="3"></td>
              <td height="1" valign="bottom"><img src="{webpath}wbadmin/images/bottom.gif" height="1" width="100%"></td>
              <td width="3" height="1"><img src="{webpath}wbadmin/images/der.gif" height="1" width="3"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</BODY>
</HTML>
