<template method="setHeaders" Content-Type="text/html; charset=ISO-8859-1" Cache-Control="no-cache" Pragma="no-cache"  response="{response}" />
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{user@getLanguage}" lang="{user@getLanguage}">
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=ISO-8859-1">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="X-UA-Compatible" CONTENT="IE=EmulateIE7" />
    <head>
        <title>Semantic WebBuilder 4</title>
        <style type="text/css">
            @import "<webpath/>/swbadmin/js/dojo/dojo/resources/dojo.css";
            @import "<webpath/>/swbadmin/js/dojo/dijit/themes/soria/soria.css";
            @import "<webpath/>/swbadmin/css/swb.css";
            @import "<webpath/>/swbadmin/js/dojo/dojox/grid/resources/soriaGrid.css";
            @import "<webpath/>/swbadmin/js/dojo/dojox/grid/resources/Grid.css";

            html, body, #main{
                overflow: auto;
            }
        </style>
        
        <script type="text/javascript" src="{webpath}/swbadmin/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true, isDebug: false, locale: '{user@getLanguage}'"></script>
        <script type="text/javascript" charset="utf-8" src="{webpath}/swbadmin/js/swb.js"></script>
        <script type="text/javascript" charset="utf-8" src="{webpath}/swbadmin/js/swb_admin.js"></script>
        <script type="text/javascript" src="{webpath}/swbadmin/js/wb/toolbox.js"></script>
        <script type="text/javascript">
            context="<webpath/>";
        </script>
    </head>
    <body class="soria">
        <content/>
    </body>
</html>