<?xml version=”1.0” encoding=”ISO-8859-1”?>
<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Strict//EN” “http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd”>
<html xmlns=”http://www.w3.org/1999/xhtml” xml:lang=”es” lang=”es”>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>SWB</title>
<script type="text/JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<link href="images/estilo.css" rel="stylesheet" type="text/css">
</head>
<body onLoad="MM_preloadImages('images/notas_b2.gif','images/notas_i2.gif','images/notas_u2.gif','images/notas_t2.gif','images/notas_tt2.gif','images/notas_color2.gif','images/notas_save2.gif')">
<div id="general">
  <div id="fecha">Miércoles 30 de marzo 2009 </div>
  <div id="bienvenido">
    <h3>bienvenido</h3>
  </div>
  <div id="nombre">
    <h3><USER method="getFullName"/></h3>
  </div>
  <div id="sabias">
    <h3>Sabias que...</h3>
    <p>Los efectos de animación y transición de PowerPoint no se mostraran al publicarlo como contenido, ya que son funcionalidades especificas de PowerPoint, y no tienen su equivalente en HTML.</p>
  </div>
  <div id="movs">
    <table summary="Las ultimas actividades del usuario">
      <caption>
      movimientos recientes
      </caption>
      <tbody>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
        <tr>
          <td class="mov-plantilla"><a href="#">nombrGrupoPlantil</a></td>
          <td class="mov-recurso"><a href="#">Nombre de la plantilla </a></td>
          <td class="mov-editar"><a href="#">editar</a></td>
        </tr>
      <tbody>
    </table>
  </div>

  <div id="notas">
	<h2>mis notas</h2>
		<div id="notasEstilo">
		  <ul>
 		   <li id="notaBold"><a href="#" title="Negrita">N</a></li>
 		   <li id="notaItalic"><a href="#" title="Italica">K</a></li>
 		   <li id="notaUnderline"><a href="#" title="Subrayar">S</a></li>
 		   <li id="notaMenor"><a href="#" title="Reducir tamaño">T</a></li>
  	  	   <li id="notaMayor"><a href="#" title="Aumentar tamaño">T</a></li>
  		   <li id="notaColor"><a href="#" title="Color">color</a></li>
  		   <li id="notaGuardar"><a href="#" title="Guardar">guardar</a></li>
		  </ul>
		</div>
    <textarea name="textarea">Escribe aquí tus notas</textarea>
  </div>

  <div id="acceso">
    <h2>accesos r&aacute;pidos</h2>

		<div id="acceso1">
			<h4>Servidor</h4>
				<ul>
					<li><a href="#">work</a> </li>
					<li><a href="#">temporal</a></li>
				    <li><a href="#">work</a></li>
				    <li><a href="#">temporal</a></li>
				    <li><a href="#">css</a></li>
				    <li><a href="#">Sitio 1</a></li>
				    <li><a href="#">jsp</a></li>
				</ul>
		</div>

		<div id="acceso2">
			<h4>Plantillas</h4>
			<ul>
				<li><a href="#">Grupo 1 </a> </li>
				<li><a href="#">Grupo 2</a></li>
			    <li><a href="#">Grupo 3</a></li>
		        <li><a href="#">Grupo 4</a></li>
			    <li><a href="#">Grupo 5 </a></li>
			</ul>
		</div>

		<div id="acceso3">
			<h4>Recurso</h4>
				<ul>
					<li><a href="#">Banner</a></li>
					<li><a href="#"> Static text</a></li>
				    <li><a href="#"> Promo Menu</a></li>
				    <li><a href="#"> Comment</a></li>
				</ul>
		</div>

		<div id="acceso4">
			<h4>Contenido</h4>
				<ul>
					<li><a href="#">Local</a></li>
					<li><a href="#">Externo</a></li>
				    <li><a href="#">PPT</a></li>
				    <li><a href="#">Excel</a></li>
				    <li><a href="#">PDF </a></li>
				</ul>
		</div>
  </div>

  <div id="compartidos">
    <h2>documentos compartidos</h2>
    <ul>
      <li><a href="#">botonesMenu.psd</a></li>
      <li><a href="#"> fotoDirector.jpg</a></li>
      <li><a href="#"> estilos.css</a></li>
      <li><a href="#"> logotipo.ai</a></li>
      <li> <a href="#">estrucutra.ppt</a></li>
      <li><a href="#"> contenidosCanal.doc</a></li>
    </ul>
  </div>

</div>
</body>
</html>
