<html>
<head>
<title><topic method="getDisplayName" language="{user@getLanguage}"/></title>
<SCRIPT LANGUAGE="JavaScript" >
<!--
    function imprime()
    {
        window.self.print();
        window.self.close();
    }
-->
</SCRIPT>
</head>
<body topmargin="0" leftmargin="20" marginwidth="20" marginheight="0" onLoad="imprime()" >
<table border="0" cellspacing="0" cellpadding="0" >
    <tr >
      <td colSpan="2" >
        <table cellSpacing="0" cellPadding="0" width="740" border="0" >
          <tbody>
            <tr >
              <td align="right" ><font face=Arial color="#6a6960" size="1"><Date METHOD="getDateEs"/></font></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr >
      <td colSpan="2" >&nbsp;</td>
    </tr>
    <tr >
      <td colSpan="2" >
        <table cellSpacing="0" cellPadding="0" width="740" border="0" >
          <tbody>
            <tr >
              <td vAlign="top" align="middle" width="738" >
                <table cellSpacing="0" cellPadding="10" width="100%" border="0" >
                  <tr > 
                    <td align="right" width="450" >
                      <font face="Arial" color="565656" size="1">
                        <topic method="getPath" separator=" I " cssClass="ligasruta" selectColor="#CC3300">
                      </font></td>
                  </tr>
                  <tbody>
                    <tr >
                      <td ><content/></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>