/* 
    Document   : stile
    Created on : 6/09/2009, 12:15:09 AM
    Author     : javier.solis
    Description:
        Purpose of the stylesheet follows.
*/


Scene {
    fill: transparent;
}

.task-text {
    font-size: 13px;
    font-family: "Helvetica, Arial";
    fill: #6060FF;
    font-weight: bold;
}


.task {
    fill: #FFFFFF;
    stroke: #6060FF;
    strokeWidth: 1;
    arcWidth: 10;
    arcHeight: 10;
}

.connection {
    stroke: #6060FF;
    strokeWidth: 2;
}

.conn_arrow {
    stroke: #6060FF;
    strokeWidth: 2;
}

.event {
    fill: #FFFFFF;
    stroke: #6060FF;
    strokeWidth: 1;
}

.endEvent {
    fill: #FFFFFF;
    stroke: #6060FF;
    strokeWidth: 4;
}

.topic {
    fill: #3030FF;
    stroke: #6060FF;
    strokeWidth: 3;
    arcWidth: 20;
    arcHeight: 20;
}

.relation {
    stroke: #6060FF;
    strokeWidth: 3;
}

.topic-over {
    fill: #9090ff;
    stroke: #909090;
    strokeWidth: 3;
    arcWidth: 20;
    arcHeight: 20;
}

.topic-text {
    font-size: 16px;
    font-family: "Helvetica, Arial";
    fill: #ffffff;
    font-weight: bold;
}

