<template method="setHeaders" Content-Type="text/html"  Cache-Control="no-cache" Pragma="no-cache"  response="{response}" />
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <head>
        <title>Semantic WebBuilder 4</title>
        
        <style type="text/css">
            @import "/swb/swbadmin/js/dojo/dojo/resources/dojo.css";
            @import "/swb/swbadmin/js/dojo/dijit/themes/soria/soria.css";
            @import "/swb/swbadmin/css/swb.css";
        </style>
        
        <script type="text/javascript" src="/swb/swbadmin/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true, isDebug: false"></script>
        <script type="text/javascript" charset="utf-8" src="/swb/swbadmin/js/swb.js"></script>
        
    </head>
    <body class="soria">
        Hola...
        <content/>
    </body>
</html>